In [1]:
import pyodbc
import os.path
import glob
import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime as dt
from dateutil.relativedelta import relativedelta
import getpass

import warnings
warnings.simplefilter("ignore")

pd.set_option('display.max_columns', None)

In [2]:
# SQL python connection to our server
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=sql-2-db;'
                      'Database=CBQ2;')
                    
cursor = conn.cursor()

In [3]:
# Code to get last sales diagnostic file from folder.
folder_path = r'G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram'
file_glob_detail = r'\*Ingram*xlsx'
files = glob.glob(folder_path + file_glob_detail)
file_detail = max(files, key=os.path.getctime)

# file_glob_summary = r'\*Summary*csv'
# files = glob.glob(folder_path + file_glob_summary)
# file_summary = max(files, key=os.path.getctime)

In [4]:
for f in files:
    print(f)

G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 010519 v 122918.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 011219 v 010519.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 011919 v 011219.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 020219 v 012619.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 020919 v 020219.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 022319 v 021619.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 030219 v 022319.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 101319 - 101519.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 101619 - 101719.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 101819 - 102019.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 102119 - 102219.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 102319 - 102419.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 102519 - 102719.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 102819 - 102919.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 103019 - 103119.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 103119 - 110719.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 110119 - 110319.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 110319 - 111019.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 110519 - 111219.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 110719 - 111419.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 111019 - 111719.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 111219 - 111919.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 111419 - 112119.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 111719 - 112419.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 111919 - 112619.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 112119 - 112819.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 112419 - 120119.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 112619 - 120319.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 120119 - 120819.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 120319 - 121019.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 120519 - 121219.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\2019 Flash Ingram 120819 - 121519.xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\Week 41 - 2019 Flash Ingram (101219).xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\Week 51 - 2019 Flash Ingram (122119).xlsx
G:\SALES\2019 Sales Reports\Sell Through Reporting\Ingram\Week 52 - 2019 Flash Ingram (122819).xlsx

In [5]:
type(files)

list

In [17]:
files_q4 = files[7:]

In [93]:
df_new = pd.DataFrame()

for i,f in enumerate(files_q4):
    df_week = pd.read_excel(f
                   ,usecols=[0,4,11]
                   ,engine='openpyxl'
                   ,skiprows=1
                    ,dtype={'ISBN 13':str},
                   )
    df_new = pd.concat([df_new,df_week])
    print(f"Rows added: {df_new.shape[0]:,}.\t ||| \tPercent Completed: {(i+1)/len(files_q4):.0%}")
    print(df_week.head(2))
    print()

Rows added: 6,481.	 ||| 	Percent Completed: 4%
         PUB        ISBN 13  Sales (10/13 - 10/15)
0  Chronicle  9781452136448                    125
1  Chronicle  9781452182759                     98

Rows added: 13,142.	 ||| 	Percent Completed: 7%
          PUB        ISBN 13  Sales (10/16 - 10/17)
0   Chronicle  9781452175218                     95
1  Tourbillon  9782747086998                     66

Rows added: 19,739.	 ||| 	Percent Completed: 11%
         PUB        ISBN 13  Sales (10/18 - 10/20)
0  Moleskine  8051272892741                     64
1  Chronicle  9781452128306                     50

Rows added: 26,231.	 ||| 	Percent Completed: 14%
         PUB        ISBN 13  Sales (10/21 - 10/22)
0  Chronicle  9781452182759                    102
1  Chronicle  9781452111735                     85

Rows added: 32,693.	 ||| 	Percent Completed: 18%
         PUB        ISBN 13  Sales (10/23 - 10/24)
0  Chronicle  9781452182759                   3261
1  Chronicle  9781452171197                    147

Rows added: 39,042.	 ||| 	Percent Completed: 21%
         PUB        ISBN 13  Sales (10/25 - 10/27)
0  Chronicle  9781452182759                   1022
1  Chronicle  9781452145037                    130

Rows added: 45,654.	 ||| 	Percent Completed: 25%
         PUB        ISBN 13  Sales (10/28 - 10/29)
0  Chronicle  9781452182759                    298
1  Chronicle  9781452145037                    117

Rows added: 52,243.	 ||| 	Percent Completed: 29%
                       PUB        ISBN 13  Sales (10/30 - 10/31)
0  Hardie Grant Publishing  9781787131224                    336
1                Chronicle  9781452155821                    125

Rows added: 58,818.	 ||| 	Percent Completed: 32%
                       PUB        ISBN 13  Sales (10/31 - 11/07)
0  Hardie Grant Publishing  9781787131224                    423
1                Chronicle  9781452155821                    293

Rows added: 65,368.	 ||| 	Percent Completed: 36%
                       PUB        ISBN 13  Sales (11/01 - 11/03)
0                Chronicle  9781452159256                    162
1  Hardie Grant Publishing  9781787131224                     86

Rows added: 72,505.	 ||| 	Percent Completed: 39%
         PUB        ISBN 13  Sales (11/03 - 11/10)
0  Chronicle  9781452182759                    483
1  Chronicle  9781452155821                    233

Rows added: 79,556.	 ||| 	Percent Completed: 43%
         PUB        ISBN 13  Sales (11/05 - 11/12)
0  Chronicle  9781452182759                   1179
1  Chronicle  9781452111735                    266

Rows added: 86,248.	 ||| 	Percent Completed: 46%
         PUB        ISBN 13  Sales (11/07 - 11/14)
0  Chronicle  9781452159256                   1107
1  Chronicle  9781452182759                   1769

Rows added: 92,978.	 ||| 	Percent Completed: 50%
         PUB        ISBN 13  Sales (11/10 - 11/17)
0  Chronicle  9781452182759                   1497
1  Chronicle  9781452159256                   1102

Rows added: 99,636.	 ||| 	Percent Completed: 54%
         PUB        ISBN 13  Sales (11/12 - 11/19)
0  Chronicle  9781452182759                   1724
1  Chronicle  9781452159256                   1105

Rows added: 106,458.	 ||| 	Percent Completed: 57%
             PUB        ISBN 13  Sales (11/14 - 11/21)
0  Laurence King  9781780674889                    762
1      Chronicle  9781452175867                    267

Rows added: 113,228.	 ||| 	Percent Completed: 61%
             PUB        ISBN 13  Sales (11/17 - 11/24)
0      Chronicle  9781452182759                    949
1  Laurence King  9781780674889                    854

Rows added: 119,975.	 ||| 	Percent Completed: 64%
             PUB        ISBN 13  Sales (11/19 - 11/26)
0  Laurence King  9781780674889                    869
1      Chronicle  9781452182759                    581

Rows added: 126,690.	 ||| 	Percent Completed: 68%
             PUB        ISBN 13  Sales (11/21 - 11/28)
0      Chronicle  9781452111735                    623
1  Laurence King  9781780674889                    518

Rows added: 133,405.	 ||| 	Percent Completed: 71%
         PUB        ISBN 13  Sales (11/24 - 12/01)
0  Chronicle  9781452111735                    745
1  Chronicle  9781452139111                    401

Rows added: 140,167.	 ||| 	Percent Completed: 75%
         PUB        ISBN 13  Sales (11/26 - 12/03)
0  Chronicle  9781452111735                   1440
1  Chronicle  9781452178592                    638

Rows added: 146,947.	 ||| 	Percent Completed: 79%
         PUB        ISBN 13  Sales (12/01 - 12/08)
0  Chronicle  9781452111735                    948
1  Chronicle  9781452139111                    603

Rows added: 153,773.	 ||| 	Percent Completed: 82%
         PUB        ISBN 13  Sales (12/03 - 12/10)
0  Chronicle  9781452182759                    988
1  Chronicle  9781452179612                    906

Rows added: 160,593.	 ||| 	Percent Completed: 86%
         PUB        ISBN 13  Sales (12/05 - 12/12)
0  Chronicle  9781452139111                   1543
1  Chronicle  9781452182759                   1398

Rows added: 167,417.	 ||| 	Percent Completed: 89%
         PUB        ISBN 13  Sales (12/08 - 12/15)
0  Chronicle  9781452179612                   1623
1  Chronicle  9781452182759                   1260

Rows added: 173,833.	 ||| 	Percent Completed: 93%
         PUB        ISBN 13  This Week's Sales
0  Chronicle  9781452156484                440
1  Chronicle  9781452155821                229

Rows added: 180,511.	 ||| 	Percent Completed: 96%
         PUB        ISBN 13  This Week's Sales (12/15 - 12/21)
0  Chronicle  9781452182759                               2777
1  Chronicle  9781452139111                               1370

Rows added: 190,408.	 ||| 	Percent Completed: 100%
         PUB        ISBN 13  This Week's Sales (12/22 - 12/28)
0  Chronicle  9781452182759                              902.0
1  Chronicle  9781452174037                              570.0

In [94]:
df_new.dtypes

PUB                                   object
ISBN 13                               object
Sales (10/13 - 10/15)                float64
Sales (10/16 - 10/17)                float64
Sales (10/18 - 10/20)                float64
Sales (10/21 - 10/22)                float64
Sales (10/23 - 10/24)                float64
Sales (10/25 - 10/27)                float64
Sales (10/28 - 10/29)                float64
Sales (10/30 - 10/31)                float64
Sales (10/31 - 11/07)                float64
Sales (11/01 - 11/03)                float64
Sales (11/03 - 11/10)                float64
Sales (11/05 - 11/12)                float64
Sales (11/07 - 11/14)                float64
Sales (11/10 - 11/17)                float64
Sales (11/12 - 11/19)                float64
Sales (11/14 - 11/21)                float64
Sales (11/17 - 11/24)                float64
Sales (11/19 - 11/26)                float64
Sales (11/21 - 11/28)                float64
Sales (11/24 - 12/01)                float64
Sales (11/26 - 12/03)                float64
Sales (12/01 - 12/08)                float64
Sales (12/03 - 12/10)                float64
Sales (12/05 - 12/12)                float64
Sales (12/08 - 12/15)                float64
This Week's Sales                    float64
This Week's Sales (12/15 - 12/21)    float64
This Week's Sales (12/22 - 12/28)    float64
dtype: object

In [95]:
df_new.drop(["This Week's Sales"],axis=1,inplace=True)

In [100]:
df_new = df_new.melt(id_vars=['PUB','ISBN 13']
            ,var_name = 'Date'
            ,value_name = 'Value')

In [107]:
df_new = df_new.loc[~df_new['PUB'].isnull()]

In [108]:
df_new.isnull().sum()

PUB              0
ISBN 13          0
Date             0
Value      4877256
dtype: int64

In [109]:
df_new.shape

(5058180, 4)

In [122]:
df_pub_date = df_new.groupby(['PUB','Date']).sum().reset_index()

In [129]:
df_pub_date['PUB'].unique()

array(['-', 'Chronicle', 'Creative Company', 'Do Books', 'Galison',
       'Hardie Grant Publishing', 'Laurence King', 'Moleskine',
       'PQ Blackwell', 'Princeton', 'Sierra Club', 'Tourbillon'],
      dtype=object)

In [134]:
df_pub_date = df_pub_date.loc[~(df_pub_date['PUB']== "-")]

In [139]:
df_pub_date.head(20)

          PUB                   Date    Value
27  Chronicle  Sales (10/13 - 10/15)   4850.0
28  Chronicle  Sales (10/16 - 10/17)   3703.0
29  Chronicle  Sales (10/18 - 10/20)   1612.0
30  Chronicle  Sales (10/21 - 10/22)   4329.0
31  Chronicle  Sales (10/23 - 10/24)   6907.0
32  Chronicle  Sales (10/25 - 10/27)   2528.0
33  Chronicle  Sales (10/28 - 10/29)   5019.0
34  Chronicle  Sales (10/30 - 10/31)   3920.0
35  Chronicle  Sales (10/31 - 11/07)  13102.0
36  Chronicle  Sales (11/01 - 11/03)   1504.0
37  Chronicle  Sales (11/03 - 11/10)  12546.0
38  Chronicle  Sales (11/05 - 11/12)  15737.0
39  Chronicle  Sales (11/07 - 11/14)  16774.0
40  Chronicle  Sales (11/10 - 11/17)  14822.0
41  Chronicle  Sales (11/12 - 11/19)  17363.0
42  Chronicle  Sales (11/14 - 11/21)  16853.0
43  Chronicle  Sales (11/17 - 11/24)  15012.0
44  Chronicle  Sales (11/19 - 11/26)  19077.0
45  Chronicle  Sales (11/21 - 11/28)  17092.0
46  Chronicle  Sales (11/24 - 12/01)  15902.0

In [140]:
df_pub = df_pub_date.groupby('PUB').mean()

In [144]:
path = r'G:\SALES\2022 Sales Reports\Reports\Misc\2022.09.28_ingram_py.xlsx'
writer = pd.ExcelWriter(path, engine='xlsxwriter')

df_pub_date.to_excel(writer,sheet_name='pub_date_value',index = False)
df_pub.to_excel(writer,sheet_name='pub_value',index = True)

writer.save()